# dependencies
/node_modules

.DS_Store
.env

reports/chrome/*.json
reports/chrome/assets/*
reports/chrome/features/*
reports/firefox/*.json
reports/phantomjs/*.json
reports/chrome/*.html
reports/firefox/*.html
reports/phantomjs/*.html
reports/chrome/create-html-report-chrome.js
reports/firefox/create-html-report-firefox.js
reports/phantomjs/create-html-report-phantomjs.js
.env
browserconfig.json
docker-chrome-conf.js
docker-firefox-conf.js
docker-phantomjs-conf.js
modules-config-check.js
nightwatch_chrome.conf.js
nightwatch_firefox.conf.js
nightwatch.conf.js
screenshots/*
node_modules/*

